:root {
	--bg: #eeeeee;
	--text: #282828;
	--lightbg: #ccc

	--orange: #E5862F;
	--red: #E52F2F;
	--lime: #7FE52F;
	--green: #37922F;
	--yellow: #E9C400;
	--blue: #2F78E5;
	--cyan: #85DEDE;
	--linegray: #C5C5C5;

	--transition-function: cubic-bezier(0, .98, .28, .99);
}

.App {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.vspace{
	height: 16px;
}
.vspace-2{
	height: 32px;
}
.vspace-4{
	height: 64px;
}