@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
	font-family: 'Inter';
	color: var(--black);
}

h1 {
	font-weight: 900;
	font-size: 3rem;
}

h2 {
	font-weight: 700;
	font-size: 1.5rem
}

h4 {
	font-weight: 700;
	font-size: 1.25rem;
	margin: 0;
}

p {
	margin: 0;
}

.muted-text {
	color: gray;
}